<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daniel.mobilepauker2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.daniel.mobilepauker2.core.PaukerApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.daniel.mobilepauker2.main.MainMenu"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustNothing">
        </activity>

        <activity
            android:name="com.daniel.mobilepauker2.lessonimport.LessonImportActivity"
            android:label="@string/lessons"
            android:screenOrientation="portrait"
            android:parentActivityName=".main.MainMenu"
            android:theme="@style/OpenLessonTheme" />

        <activity
            android:name="com.daniel.mobilepauker2.editor.EditDescrptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.daniel.mobilepauker2.browse.SearchActivity"
            android:label="@string/search" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-9rqxyyq8cty3cf1" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.daniel.mobilepauker2.core.About"
            android:label="@string/about"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.daniel.mobilepauker2.activities.about" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.daniel.mobilepauker2.settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.daniel.mobilepauker2.learning.LearnCardsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.daniel.mobilepauker2.lessonexport.SaveDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity
            android:name="com.daniel.mobilepauker2.dropbox.SyncDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity
            android:name="com.daniel.mobilepauker2.dropbox.DropboxAccDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity
            android:name="com.daniel.mobilepauker2.editor.EditCardActivity"
            android:label="@string/edit_card"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name="com.daniel.mobilepauker2.editor.AddCardActivity"
            android:label="@string/add_new_card"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name="com.daniel.mobilepauker2.lessonimport.LessonReceiver"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-gzip" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\.pau" />
                <data android:pathPattern=".*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xml\\.gz" />
            </intent-filter>
        </activity>

        <service android:name="com.daniel.mobilepauker2.learning.TimerService" />

        <receiver android:name="com.daniel.mobilepauker2.core.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.ShortcutReceiver"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <!-- Notification -->

        <receiver android:name="com.daniel.mobilepauker2.core.notification.AlarmNotificationReceiver" />

        <service
            android:name="com.daniel.mobilepauker2.core.notification.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>
