<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daniel.mobilepauker2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainMenu"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LessonImportActivity"
            android:label="@string/lessons"
            android:theme="@style/OpenLessonTheme" />

        <activity
            android:name=".activities.EditDescrptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-9rqxyyq8cty3cf1" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.About"
            android:label="@string/about"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.daniel.mobilepauker2.activities.about" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.LearnCardsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SaveDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity
            android:name=".dropbox.SyncDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity
            android:name=".dropbox.DropboxAccDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity
            android:name=".activities.ShortcutReceiver"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity
            android:name=".activities.EditCardActivity"
            android:label="@string/edit_card"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".activities.AddCardActivity"
            android:label="@string/add_new_card"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".activities.LessonReceiver"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-gzip" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pau\\.gz" />
                <data android:pathPattern=".*\\.pau" />
                <data android:pathPattern=".*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pau" />
                <data android:pathPattern=".*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xml\\.gz" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xml\\.gz" />
            </intent-filter>
        </activity>
    </application>
</manifest>
